body {
    background-color: rgb(206, 206, 206);
    margin: 0;
    font-family: monospace;
}

#headerContainer {
    text-align: center;
}

#buttonContainer {
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    background-color: grey;
}

#newBoard {
    border: black;
    background-color: black;
    color: white;
    height: 60px;
    font-weight: 1000;
    text-align: center;
    font-size: 40px;
    padding: 0 30px;
}

#reset:hover {
    height: 60px;
}

#gameContainer {
    display: flex;
    height: 960px;
    width: 960px;
    margin: 50px auto;
}

.column {
    display:flex;
    flex-direction: column;
    flex: 1 1 100%;
}

.gridDiv  {
    border: .2px rgba(0, 0, 0, 0.164) solid;
    height: 30px;
    width: 30px;
    display:flex;
    flex: 1 1 100%;
    width: 100%;
    background-color: white;
}

.colored {
    background-color: black;
}







